body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#b0fbff,#d0adff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.login-container {
    background-color: #8c9dff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}
h1 {
    text-align: center; 
    font-size: 2em;
    color: #f85454; 
    text-shadow: 0 0 10px #f3f183, 0 0 20px #f3f183, 0 0 30px rgba(69, 123, 157, 0.5);
    margin-bottom: 25px;
}
form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}
input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}

button {
    background-color: #ff0400;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #b30300;
}

.signup-link {
    margin-top: 25px;
    font-size: 15px;
    color: #666;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}


.logo-container {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    width: 150px; 
    height: auto; 
    z-index: 100; 
}

.logo-container img {
    max-width: 100%; 
    height: auto;
    display: block;
}