.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; /* espacio entre items*/
    place-items: center;
}

.item {
    background-color: bisque;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}