@font-face {

    font-family: 'wiiu';
    src: url('../plugins/wiiu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'wiiu', monospace;
    background: linear-gradient(#fff3b0, #FFADAD);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 
    color: #2c2fd5;
}
