@font-face {

    font-family: 'PixelFont';
    src: url('../plugins/pokemon-rs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../images/PichuRT.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-color: #ff4646;
    font-family: 'PixelFont', monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative; 
}


h1 {
    color: #ff1919;
    font-family: 'PixelFont', monospace;
    text-shadow: 0 0 10px #5f35f8, 0 0 20px #5f35f8, 0 0 30px #e4b20dc0;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: bold;
}
p {
    color: beige;
    font-weight: bold;
}

a {
    color: greenyellow;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
}
a:hover {
    text-decoration: underline;
}
.contenedor-error {
    width: 16%;
  max-width: 415px;
  padding: 50px;
  border: 6px solid #770c2f;
  background-color: #000;
}
