@font-face {

    font-family: 'PixelFont';
    src: url('../plugins/pokemon-rs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #3B99FC;
    font-family: 'PixelFont', monospace; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2.5em; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

form {
    background-color: #fbfbfb; 
    border: 4px solid #304961; 
    box-shadow: 6px 6px 0px #1f3040; 
    padding: 30px;
    border-radius: 4px;
    width: 300px;
    outline: 2px solid #aabac3;
    outline-offset: -6px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
    text-align: center
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
    border: 2px solid #333;
    background-color: #E0E0E0; 
    font-size: 1em;
    font-family: monospace; 
    border-top-color: #808080;
    border-left-color: #808080;
    border-bottom-color: #FFF;
    border-right-color: #FFF;
}

button[type="submit"] {
    font-family: 'PixelFont', monospace;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    color: #494949;
    border: 4px solid #cbcbcb;
    background-color: #fbfbfb;
    box-shadow: 0 0 0 3px #303049;
    transition: all 0.1s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #fbfbfb;
    box-shadow: 0 0 0 3px #f30000, 4px 4px 0px rgba(0, 0, 0, 0.7);
    transform: translate(-4px, -4px);
}

p a {
    color: #FFDC88;
    text-decoration: none;
    font-size: 1.1em;
    border-bottom: 2px dotted #FFDC88;
    padding-bottom: 2px;
}

p a:hover {
    color: #ff503b;
    border-bottom: 2px solid #ff503b;
}
