body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff503b, #67beed, #8e00ff); 
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center; 
}

.welcome-box {
    background-color: transparent; 
    display: inline-block; 
    padding: 2px; 
    border: 6px solid #ffbcbc; 
    margin-bottom: 29px;
}

.welcome-gif {
    max-width: 157%;
    width: 256px;
    height: 192px;
}

.welcome-text {
    font-size: 1.8em;
    color: #fecf72;
    margin-bottom: 20px;
}

.status-message {
    font-size: 1.2em;
    color: #9587aa;
    margin-top: 20px;
    margin-bottom: 40px;
}

.status-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    grid-template-rows: auto auto; 
    align-items: center;
    justify-items: center;
    width: 80%;
    max-width: 700px;
    margin: 0 auto 30px auto; 
}

.status-message {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}

.pachi {
    width: 60px; 
    height: auto;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-right {
    grid-column: 3;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
}

.bottom-right {
    grid-column: 3;
    grid-row: 2;
}